<div class="contact-home">
  <div class="container contact">
    <div class="row">
      <h2 class="h2 text-center mb-3">Quick & Easy Process</h2>
      <p class="text-center mb-4">
        Do you require some help for your project: Conception workshop,
        prototyping, marketing strategy, landing page, Ux/UI?
      </p>
      <div class="col-md-6 d-flex justify-content-center">
        <img
            src="/assets/5.png"
            alt="services"
            class="d-inline-block align-text-top"
        />
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img
            src="/assets/4.png"
            alt="services"
            class="d-inline-block align-text-top"
        />
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img
            src="/assets/1.png"
            alt="services"
            class="d-inline-block align-text-top"
        />
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img
            src="/assets/3.png"
            alt="services"
            class="d-inline-block align-text-top"
        />
      </div>
      <div class="col-12 d-flex justify-content-center my-5">
        <button class="button-green">Contact our expert</button>
      </div>
    </div>
  </div>
</div>
