@import '/src/base/index';

::ng-deep.products-home{
    @include display-align(flex, null, center);
    padding: 3rem 0;
    height: 600px;
    background-color: $color-secondary-dark;
    position: relative;
    z-index: -2;
    @include mq(tab){
        height: 100%;
        background-color: $color-secondary-darkest;
    }
    .products{
        @include mq(tab){
            padding: 0 3rem;
        }
        h2{
            color: $color-white;
        }
        p{
            color: $color-white;
        }
        &:after{
            @include position-box(absolute, 0, 0, 0, 0);
            @include dimensions(99%, 100%);
            @include radius(0 0 50% 50%);
            content: '';
            background-color: $color-secondary-darkest;
            z-index: -1;
            @include mq(tab){
                display: none
            }
        }
        .product-icon{
            @include dimensions(50px, 50px);
            @include radius(19px);
            border: 0;
            i{
                color: $color-white;
            }
            &.green{
                background-color: $color-primary;
            }
            &.blue{
                background-color: $color-fifth;
            }
            &.purple{
                background-color: $color-third;
            }
            &.red{
                background-color: $color-fourth;
            }
        }
    }
}