<div class="products-home">
    <div class="container products">
        <div class="row align-items-center">
            <h2 class="h2 text-center mb-5">Product was Built Specifically for You</h2>
            <div class="col-md-3 text-center text-md-start">
                <button class="product-icon mb-4 green"><i class="fas fa-mouse-pointer"></i></button>
                <p class="h4 mb-4">First click tests</p>
                <p class="p1">While most people enjoy casino gambling</p>
            </div>
            <div class="col-md-3 text-center text-md-start">
                <button class="product-icon mb-4 blue"><i class="fas fa-mouse-pointer"></i></button>
                <p class="h4 mb-4">Design surveys</p>
                <p class="p1">Sports betting, lottery and bingo playing for the fun</p>
            </div>
            <div class="col-md-3 text-center text-md-start">
                <button class="product-icon mb-4 purple"><i class="fas fa-heart"></i></button>
                <p class="h4 mb-4">Preference tests</p>
                <p class="p1">The Myspace page defines the individual.</p>
            </div>
            <div class="col-md-3 text-center text-md-start">
                <button class="product-icon mb-4 red"><i class="fas fa-hourglass-half"></i></button>
                <p class="h4 mb-4">Five second tests</p>
                <p class="p1">Personal choices and the overall personality of the person.</p>
            </div>
            <div class="col-12 d-flex justify-content-center my-5">
                <button class="button-green">SIGN UP NOW</button>
            </div>
        </div>
    </div>
</div>