@import '/src/base/index';

::ng-deep.banner-home{
    background-color: $color-secondary-darkest;
    padding: 1rem;
    height: 600px;
    @include mq(tab){
        height: 100%;
    }
    img{
        height: 556px;
        object-fit: contain;
        @include mq(tab){
            height: 318px;
            padding: 1rem;
        }
    }
    h1{
        color: $color-white; 
        @include mq(tab){
            text-align: center
        }
    }
    p{
        margin: 0;
        color: $color-white;
        font-size: 18px;
        line-height: 28px;
        @include mq(tab){
            text-align: center
        }
    }
    .video-link{
        @include display-align(flex, null, center);
        color: $color-primary;
        i{
            margin-right: 0.5rem;
            margin-left: 1.5rem;
        }
        a{
            text-decoration: underline;
            font-size: 16px;
            line-height: 24px;
            color: $color-primary;
            &:hover{
                text-decoration: none;
            }
        }
    }
}