<div class="banner-home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 order-2 order-md-1">
        <h1 class="h1 mb-3">Work at the speed of thought</h1>
        <p class="mb-5">
          Tools, tutorials, design and innovation experts, all in one place! The
          most intuitive way to imagine your next user experience.
        </p>
        <div class="d-flex buttons-box mb-5">
          <button class="button-green px-3 px-md-4">Get started</button>
          <div class="d-flex video-link">
            <i class="fas fa-play"></i>
            <a href="#">Watch the Video</a>
          </div>
        </div>
      </div>
      <div class="col-md-8 order-1 order-md-2 d-flex justify-content-center">
        <img
          src="/assets/amico.svg"
          alt="products"
          class="d-inline-block align-text-top"
        />
      </div>
    </div>
  </div>
</div>
