<div class="articles-home">
  <div class="container articles">
    <div class="row align-items-center">
      <h2 class="h2">Contents Strategies</h2>
      <p>
        We focus on ergonomics and meeting you where you work. It's only a
        keystroke away.
      </p>
    </div>
    <div class="row mt-3">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </ng-template>
        </ngb-carousel>
    </div>
  </div>
</div>
