<div class="services-home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 px-3 py-3 py-md-5">
        <p class="p1 mb-0">Effortless Validation for</p>
        <p class="h2 mb-4">Management</p>
        <p class="mb-5">
          The Myspace page defines the individual, his or her characteristics,
          traits, personal choices and the overall personality of the person.
        </p>
        <p class="fw-bold p1 mb-3">Accessory makers</p>
        <p class="mb-5">
          While most people enjoy casino gambling, sports betting, lottery and
          bingo playing for the fun
        </p>
        <p class="fw-bold p1 mb-3">Alterationists</p>
        <p>
          If you are looking for a new way to promote your business that won’t
          cost you more money,
        </p>
      </div>
      <div
        class="
          col-md-6
          order-1 order-md-2
          px-3
          py-3 py-md-5
          d-flex
          justify-content-center
        "
      >
        <img
          src="/assets/amico-2.svg"
          alt="services"
          class="d-inline-block align-text-top"
        />
      </div>
    </div>
    <div class="row align-items-center">
      <div
        class="col-md-6 order-1 px-3 py-3 py-md-5 d-flex justify-content-center"
      >
        <img
          src="/assets/amico-3.svg"
          alt="services"
          class="d-inline-block align-text-top"
        />
      </div>
      <div class="col-md-6 order-2 px-3 py-3 py-md-5">
        <p class="p1 mb-0">Easier decision making for</p>
        <p class="h2 mb-4">Customer Support</p>
        <p class="mb-4">
          The Myspace page defines the individual, his or her characteristics,
          traits, personal choices and the overall personality of the person.
        </p>
        <ul class="custom-item">
          <li class="mb-4">
            <button class="product-icon orange me-3">
              <i class="fas fa-check"></i>
            </button>
            Never worry about overpaying for your energy again.
          </li>
          <li class="mb-4">
            <button class="product-icon red me-3">
              <i class="fas fa-check"></i>
            </button>
            We will only switch you to energy companies that we trust and will
            treat you right
          </li>
          <li>
            <button class="product-icon blue me-3">
              <i class="fas fa-check"></i>
            </button>
            We track the markets daily and know where the savings are.
          </li>
        </ul>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 px-3 py-3 py-md-5">
        <p class="p1 mb-0">Optimisation for</p>
        <p class="h2 mb-4">Collaborative</p>
        <p class="mb-5">
          Few would argue that, despite the advancements of feminism over the
          past three decades, women still face a double standard when it comes
          to their behavior.
        </p>
        <p class="fw-bold p1 mb-3">Accessory makers</p>
        <p class="mb-5">
          While most people enjoy casino gambling, sports betting, lottery and
          bingo playing for the fun
        </p>
        <p class="fw-bold p1 mb-3">Alterationists</p>
        <p>
          If you are looking for a new way to promote your business that won’t
          cost you more money,
        </p>
      </div>
      <div
        class="
          col-md-6
          order-1 order-md-2
          px-3
          py-3 py-md-5
          d-flex
          justify-content-center
        "
      >
        <img
          src="/assets/amico-4.svg"
          alt="services"
          class="d-inline-block align-text-top"
        />
      </div>
    </div>
  </div>
</div>
