button{
    @include txt(center, bold, null, $font-text, 16px);
    @include radius(4px);
    padding: 0.4rem 1rem;
    box-shadow: none;
    outline: none;
    line-height: 24px;
    &:focus{
        box-shadow: none;
    }
}
.button-border-white{
    @include box-styles(transparent, $color-white, 1px, solid, $color-white);
    &:hover{
        @include box-styles($color-white, $color-secondary-dark, 1px, solid, $color-white);
    }
}
.button-green{
    @include box-styles($color-primary, $color-white, 1px, solid, $color-primary);
    &:hover{
        @include box-styles($color-white, $color-primary, 1px, solid, $color-white);
    }
}
.button-frame{
    @include dimensions (32px, 32px);
    @include radius(50%);
    @include display-align(flex, center, center);
    background-color: $color-white;
    padding: 0.4rem;
    border: 0;
    img{
        padding: 0;
    }
}